{% extends 'blogapp/base.html' %}
{% block content %}


<div class="container">
    <div class="mt-3 text-center">
        <h1>All Blogs by {{user2}}</h1>

    </div>
</div>

{% for post in posts %}


<div class="container">
    
    <div class="row">
        <div class="col-md-9">
            <div class="card my-5">
                <div class="card-body p-0">
                    <div class="card-header m-0 text-center">
                        <img src="{{ post.user.image.url }}" class="profile-image rounded-circle mr-3" alt="Profile Image"
                            style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;">
                        <h2 class="ml-3 mb-0 text-center">Author: {{post.user}}</h2>
                    </div>
                    <div class="card-text px-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-image">
                                    <img src="{{ post.image.url }}" class="card-img-top">
        
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 class="card-title">{{post.title}}</h3>
                                <h5 class="card-title">{{post.content}}</h5>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-4 ">
                                    <div class="">
                                        <a class="collapsed-trigger ms-5 text-decoration-none" data-bs-toggle="collapse" href="#collapseExample1{{ post.id }}"
                                            role="button" aria-expanded="false" aria-controls="collapseExample{{ post.id }}">
                                            <h4><i class="bi bi-heart">    </i>   <small>{{post.comment_count}} likes</small></h4>
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapseExample1{{ post.id }}">
                                        <div class="card card-body p-0" style="height: 250px; overflow: scroll;">
                
                                            <div class="p-4 ">
                                                {% for comment in post.comment_set.all %}
                                                
                                                <footer class="blockquote-footer">
                                                    {% if comment.user == request.user %}
                                                    you
                                                    {% else %}
                                                    {{comment.user}}
                                                    {% endif %}
                                                </footer>
                                                <hr>
                                                {% endfor %}
                                            </div>
                                            <div class="card-footer px-0 mb-0 " style="margin-top: auto;">
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <div class=" text-center">
                                                        <input type="number" class="form-control" name="like" value="1"
                                                            placeholder="Tusername = request.user
                                                            post_id = request.GET.get('id')
                                                            post = NewPost.objects.get(id=post_id)ype your Comment..." required hidden>
                                                        <button class="btn btn-secondary text-center" type="submit"><i class="bi bi-heart"></i> Like</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="mb-4 ">
                                    <div class="">
                                        <a class="collapsed-trigger ms-5 text-decoration-none" data-bs-toggle="collapse" href="#collapseExample{{ post.id }}"
                                            role="button" aria-expanded="false" aria-controls="collapseExample{{ post.id }}">
                                            <h4><i class="bi bi-chat">    </i>   <small>{{post.comment_count}} comments</small></h4>
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapseExample{{ post.id }}">
                                        <div class="card card-body p-0" style="height: 250px; overflow: scroll;">
                
                                            <div class="p-4 ">
                                                {% for comment in post.comment_set.all %}
                                                <h6>{{comment.content}}
                                                </h6>
                                                <footer class="blockquote-footer">
                                                    {% if comment.user == request.user %}
                                                    you
                                                    {% else %}
                                                    {{comment.user}}
                                                    {% endif %}
                                                </footer>
                                                <hr>
                                                {% endfor %}
                                            </div>
                                            <div class="card-footer px-0 mb-0 " style="margin-top: auto;">
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <div class="input-group ">
                                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                                        <input type="text" class="form-control" name="comment"
                                                            placeholder="Type your Comment..." required>
                                                        <button class="btn btn-primary" type="submit">comment</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card my-5">
                <div class="card-header">
                    <h3 class="text-center">About the author</h3>
                </div>
                <div class="my-3 text-center p-2">
                    <img src="{{ post.user.image.url }}" class="card-img mb-3" alt="Profile Image">
                    <h5>Full Name: {{post.user.first_name}} {{post.user.last_name}}</h5>
                    <h5>Phonenumber: {{post.user.phonenumber}}</h5>
                    <h5>Age: {{post.user.phonenumber}}</h5>
                    <h5>Other Blogs by the author: 
                        {% for post in related_post %}
                        <a href="{% url 'view_post_details' %}?id={{post.id}}">{{post.title}}</a>
                        {% endfor %}
                    </h5>
                </div>            
                
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}